*{
    padding: 0;
    margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  background: #FF0000;
  max-width: 38rem;
  padding: 2rem;
  justify-content: center;
}

button {
    padding: 0.3rem 0.8rem;
    max-width: 15.3rem;
}

h5 {
    padding-bottom: 1rem;
}

input {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    max-width: 15rem;
}

.addContest {
    display: grid;
}

.Contest {
    padding-top: 1rem;
}

.counter {
    display: flex;
    padding-bottom: 0.2rem;
}

.in_line {
    padding-bottom: 0.3rem;
}

.quant_group {
    padding-top: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
}

.Tracker {
    padding-bottom: 0.3rem;
}


#showCount {
    display: flex;
}
